.subtitle{ 
    font-family: "Playfair Display", serif;
  }
  .title{
    font-family: "Montserrat", sans-serif;
  }
  .first{
    background-color: #004080;
    color:white
  }
  .icons-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .icon{
    margin: 10px;
  }
  