.title {
  font-family: "Montserrat", sans-serif;
  font-size: 3rem;
  line-height: 1.8;
}
.subtitle {
  font-family: "Playfair Display", serif;
  line-height: 1.8;
  font-size: 1rem;
}

.first {
  background-color: #004080;
  color: white;
}
.icons-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.icon {
  margin: 10px;
}
